.banner-container {
    align-items: center;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 33%;
    padding: 8px;
}

.banner-ko {
    background-color: lightsalmon;
}

.banner-ok {
    background-color: lightgreen;
}

.banner-message {
    font-size: 16px;
}

.banner-ul {
    display: flex;
    flex-direction: column;
    margin-top: 8px;
    list-style: disc;
}

.banner-li {
    font-size: 12px;
}
